.download {
  width: 90%;
  display: flex;
  align-items: center;

  background-color: #f44336;
  height: 50px;
  padding: 0 40px;
  margin: 20px 0 35px 0;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
}
span{
    flex:1;
    text-align: left;
}

@media (max-width:995px){
    .download{
        display: none;
    }
    
}

